<div class="panel panel-success panel-heading" role="alert">
  <p id="notice"><%= notice %></p></div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">Upcoming Assignments</div>
      <div class="panel-body">
        <table data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc" id="table-style" data-row-style="rowStyle">
            <thead>
            <tr>
              <th data-sortable="true">Type</th>
              <th data-sortable="true">Name</th>
              <th>Description</th>
              <th data-sortable="true">Course</th>
              <th data-sortable="true">Due</th>
              <th data-align="center">Score</th>
              <th data-align="center">Submission</th>
            </tr>
          </thead>

          <tbody>
            <% @assignments.each do |assignment| %>
              <tr>
                <td><%= assignment.entry_type %></td>
                <td><%= assignment.name %></td>
                <td><%= assignment.description %></td>
                <td><%= Course.find(assignment.course_id).name %></td>
                <td><%= assignment.due.strftime("%B %C, %Y") %><br><%= assignment.due.strftime("%I:%M%p") %></td>
                <td><% if Submission.find_by(assignment_id: assignment.id) != nil && Submission.find_by(assignment_id: assignment.id).score != nil%><%=
                  Submission.find_by(assignment_id: assignment.id).score %>
                  <% else %>
                  Not currently available
                  <% end %></td>        
                <td>
                  <% if !admin %>
                    <% if Submission.find_by(assignment_id: assignment.id) == nil %>
                      <%= link_to 'Submit', submit_assignment_path(:assignment_id => assignment.id) %>
                    <% else %>
                      <%= link_to 'Download Submission', Submission.find_by(assignment_id: assignment.id).attachment_url %> | 
                      <%= link_to 'Delete Submission', Submission.find_by(assignment_id: assignment.id), method: :delete, data: { confirm: 'Are you sure you want to delete this submission?' } %>            
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <script>
            $(function () {
                $('#hover, #striped, #condensed').click(function () {
                    var classes = 'table';

                    if ($('#hover').prop('checked')) {
                        classes += ' table-hover';
                    }
                    if ($('#condensed').prop('checked')) {
                        classes += ' table-condensed';
                    }
                    $('#table-style').bootstrapTable('destroy')
                        .bootstrapTable({
                            classes: classes,
                            striped: $('#striped').prop('checked')
                        });
                });
            });

            function rowStyle(row, index) {
                var classes = ['active', 'success', 'info', 'warning', 'danger'];

                if (index % 2 === 0 && index / 2 < classes.length) {
                    return {
                        classes: classes[index / 2]
                    };
                }
                return {};
            }
        </script>  
<br>