<p id="notice"><%= notice %></p>

<h1>My Assignments</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>Description</th>
      <th>Course</th>
      <th>Due</th>
      <th>Score</th>
      <th></th>
      <th></th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.type %></td>
        <td><%= assignment.name %></td>
        <td><%= assignment.description %></td>
        <td><%= Course.find(assignment.course_id).name %></td>
        <td><%= assignment.due.strftime("%I:%M%p") %></td>
        <td><% if Submission.find_by(assignment_id: assignment.id) != nil && Submission.find_by(assignment_id: assignment.id).score != nil%><%=
          Submission.find_by(assignment_id: assignment.id).score %>
          <% else %>
          Not currently available
          <% end %></td>        
<!--         <td><%= link_to 'More Details', assignment %></td> -->
        <td>
          <% if !admin %>
            <% if Submission.find_by(assignment_id: assignment.id) == nil %>
              <%= link_to 'Submit', submit_assignment_path(:assignment_id => assignment.id) %>
            <% else %>
              <%= link_to 'Download Submission', Submission.find_by(assignment_id: assignment.id).attachment_url %>
              <%= link_to 'Delete Submission', Submission.find_by(assignment_id: assignment.id), method: :delete, data: { confirm: 'Are you sure you want to delete this submission?' } %>            
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assignment', new_assignment_path %>
