<p id="notice"><%= notice %></p>

<h1>My Assignments</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>Description</th>
      <th>Course</th>
      <th>Due</th>
      <th>Score</th>
      <th></th>
      <th></th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.type %></td>
        <td><%= assignment.name %></td>
        <td><%= assignment.description %></td>
        <td><%= Course.find(assignment.course_id).name %></td>
        <td><%= assignment.due.strftime("%I:%M%p") %></td>
        <td><% if assignment.score != nil %>
          assignment.score
          <% else %>
          Not currently available
          <% end %></td>        
        <td><%= link_to 'More Details', assignment %></td>
        <td><%= link_to 'Submit', submit_assignment_path %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assignment', new_assignment_path %>
