<div class="panel-body">
  <div class="col-md-6">

    <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
    <div class="panel panel-danger" role="alert">
      <div class="panel-heading">
        <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
      </div>
      <div class="panel-body">
        <ul>
          <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <% end %>


    <div class="form-group">
      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label :email %><br>
        <%= f.email_field :email, class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label :password %><br>
        <%= f.password_field :password, :value => "", class: "form-control" %>
      </div>
      <div class="actions">
        <%= f.submit nil, :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
<% end %>
