<div class="panel panel-success panel-heading" role="alert">
  <p id="notice"><%= notice %></p></div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">All Submissions</div>
      <div class="panel-body">
        <table data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc" id="table-style" data-row-style="rowStyle">
            <thead>
            <tr>
      <th data-sortable="true">Submitted by:</th>    	
      <th data-sortable="true">Submission Link</th>
      <th data-sortable="true">On Time?</th>
      <th data-sortable="true">Score</th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
      	<td><%= User.find(submission.user_id).name %></td>
        <td><%= link_to submission.name, submission.attachment_url%></td>
        
        <td><% if submission.created_at < Assignment.find(@assignment_id).due %>
        		Yes
        	<% else %>
        		Late!
        	<% end %>
        </td>
        <td>
        	<% if submission.score != nil %> 
        		<%= submission.score %>
        	<% else %>
        		<%= button_to 'Submit Score', edit_submission_path(submission, :assignment_id => submission.assignment_id, :user_id => submission.user_id), method => :post, :params => {:assignment_id => submission, :user_id => submission.user_id}  %>
        	<% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
