<div class="panel-body">
  <div class="col-md-6">

<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div class="panel panel-danger" role="alert">
      <div class="panel-heading">
        <%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:
      </div>
      <div class="panel-body">
        <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>

    <div class="form-group">
      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: "form-control"  %>
      </div>
      <div class="field">
        <%= f.label :professor %><br>
        <%= f.text_field :professor, class: "form-control"  %>
      </div>
      <div class="field">
        <%= f.label :location %><br>
        <%= f.text_field :location, class: "form-control"  %>
      </div> 
      <div class="field">
        <%= f.label :weekdays %><br>
        <%= f.select(:weekdays, [['Monday', 'Monday'],
                                      ['Tuesday', 'Tuesday'],
                                      ['Wednesday', 'Wednesday'],
                                      ['Thursday', 'Thursday'],
                                      ['Friday', 'Friday'],
                                      ['Saturday', 'Saturday'],
                                      ['Sunday','Sunday']
                                     ],{ :prompt => "Please select"},
                                       { :multiple => true, :size => 7 }
                                     ) %>
      </div>                     
      <div class="field">
        <%= f.label :starting_time %><br>
        <%= f.time_field :starting_time, class: "form-control"  %>
      </div>
      <div class="field">
        <%= f.label :ending_time %><br>
        <%= f.time_field :ending_time, class: "form-control"  %>
      </div>  
      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
  </div>
</div>
      
<% end %>
