<div class="panel panel-success panel-heading" role="alert">
  <p id="notice"><%= notice %></p></div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">All Courses</div>
      <div class="panel-body">
        <table data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc" id="table-style" data-row-style="rowStyle">
            <thead>
            <tr>
              <th data-sortable="true">Name</th>
              <th data-sortable="true">Professor</th>
              <th data-sortable="true">Location</th>
              <th data-sortable="true">Weekdays</th>
              <th data-sortable="true">Starting Time</th>
              <th data-sortable="true">Ending Time</th>
              <th>More Options</th>
              <th>Enrollment Status</th>
            </tr>
            </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.professor %></td>
        <td><%= course.location %></td>
        <td>
          <%= course.weekdays %>   
        </td>      
        <td><%= course.starting_time.strftime("%I:%M%p") %></td>
        <td><%= course.ending_time.strftime("%I:%M%p") %></td>
        <td><%= button_to 'Show', course, :method => :get, class: 'btn btn-success' %><br>
        <% if admin %>
          <%= button_to 'Edit', edit_course_path(course), :method => :get, class: 'btn btn-warning' %><br>
          <%= button_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %><br>
        <% end %>
        <% if !admin && !@courses_enrolled.include?(course) %>
          <td><%= button_to 'Enroll', enroll_course_path(:id => course.id), :method => :get, :params => {:id => course.id}, class: 'btn btn-primary' %></td>
        <% end %>   
        <% if !admin && @courses_enrolled.include?(course) %>
          <td><%= button_to 'Un-Enroll', unenroll_course_path(:id => course.id), :method => :post, :params => {:id => course.id}, class: 'btn btn-primary' %></td>
        <% end %>              
      </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if admin %>
  <%= button_to 'New Course', new_course_path, :method => :get, class: 'btn btn-primary' %>
<% end %>
