<div class="panel panel-success panel-heading" role="alert">
  <p id="notice"><%= notice %></p></div>

  <div class="panel panel-primary">
    <div class="panel-heading"><%= @course.name %></div>

    <p>
      <strong>Professor:</strong>
      <%= @course.professor %>
    </p>

    <p>
      <strong>Location:</strong>
      <%= @course.location %>
    </p>

    <p>
      <strong>Weekdays:</strong>
      <%= @course.weekdays %>       
    </p>

    <p>
      <strong>Time:</strong>
      <%= @course.starting_time.strftime("%I:%M%p") %> to <%= @course.ending_time.strftime("%I:%M%p") %>
    </p>

    <p>
      <strong>Assignments:</strong><br>
      <% @course.assignments.each do |assignment| %>
        <%= link_to assignment.name, assignment %>: <%= assignment.description %>
        <br>
        Due on: <%= assignment.due.strftime("%I:%M%p") %>
      <% end %>
    </p>
  </div>

<% if admin %>
  <%= button_to 'Edit', edit_course_path(@course), :method => :get, class: 'btn btn-warning' %> <br>
<% end %>
<%= button_to 'Back', courses_path, :method => :get, class: 'btn btn-primary' %>
