<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @course.professor %>
</p>

<p>
  <strong>Location:</strong>
  <%= @course.location %>
</p>

<p>
  <strong>Weekdays:</strong>
  <% if @course.monday %> 
    Monday,
  <% end %>
  <% if @course.tuesday %> 
    Tuesday,
  <% end %>
  <% if @course.wednesday %> 
    Wednesday,
  <% end %>
  <% if @course.thursday %> 
    Thursday,
  <% end %>
  <% if @course.friday %> 
    Friday,
  <% end %>
  <% if @course.saturday %> 
    Saturday,
  <% end %>
  <% if @course.sunday %> 
    Sunday
  <% end %>        
</p>

<p>
  <strong>Time:</strong>
  <%= @course.starting_time.strftime("%I:%M%p") %> to <%= @course.ending_time.strftime("%I:%M%p") %>
</p>

<p>
  <strong>Assignments:</strong><br>
  <% @course.assignments.each do |assignment| %>
    <%= link_to assignment.name, assignment %>: <%= assignment.description %>
    <br>
    Due on: <%= assignment.due.strftime("%I:%M%p") %>
  <% end %>
</p>

<% if admin %>
  <%= link_to 'Edit', edit_course_path(@course) %> |
<% end %>
<%= link_to 'Back', courses_path %>
