<div class="panel panel-success panel-heading" role="alert">
  <p id="notice"><%= notice %></p></div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">My Courses</div>
      <div class="panel-body">
        <table data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc" id="table-style" data-row-style="rowStyle">
            <thead>
            <tr>
              <th data-field="name" data-sortable="true">Name</th>
              <th data-sortable="true">Professor</th>
              <th data-sortable="true">Location</th>
              <th data-sortable="true">Weekdays</th>
              <th data-sortable="true">Starting Time</th>
              <th data-sortable="true">Ending Time</th>
              <th data-align="center">More Info</th>
              <th data-align="center">Enrollment Status</th>
            </tr>
            </thead>

            <tbody>
              <% @courses.each do |course| %>
                <tr>
                  <td><%= course.name %></td>
                  <td><%= course.professor %></td>
                  <td><%= course.location %></td>
                  <td><%= course.weekdays %></td>        
                  <td><%= course.starting_time.strftime("%I:%M%p") %></td>
                  <td><%= course.ending_time.strftime("%I:%M%p") %></td>
                  <td><%= button_to 'Details', course, :method => :get, class: 'btn btn-primary' %></td>
                  <td><%= button_to 'Un-enroll', unenroll_course_path(:id => course.id), :method => :post, :params => {:id => course.id}, class: 'btn btn-danger' %></td>
                </tr>
              <% end %>
            </tbody>            
        </table>
        <script>
            $(function () {
                $('#hover, #striped, #condensed').click(function () {
                    var classes = 'table';
        
                    if ($('#hover').prop('checked')) {
                        classes += ' table-hover';
                    }
                    if ($('#condensed').prop('checked')) {
                        classes += ' table-condensed';
                    }
                    $('#table-style').bootstrapTable('destroy')
                        .bootstrapTable({
                            classes: classes,
                            striped: $('#striped').prop('checked')
                        });
                });
            });
        
            function rowStyle(row, index) {
                var classes = ['active', 'success', 'info', 'warning', 'danger'];
        
                if (index % 2 === 0 && index / 2 < classes.length) {
                    return {
                        classes: classes[index / 2]
                    };
                }
                return {};
            }
        </script>        
      </div>
    </div>
  </div>
</div><!--/.row-->  

<br>

<%= link_to 'Browse Course Listings', courses_path %>
